ssa-memcached/src/main/java/com/fost/ssacache/config/fost-ssa-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.5173.com/schema/ssa" xmlns:tns="http://www.5173.com/schema/ssa" elementFormDefault="qualified">

    <element name="ssa-spy" type="string"></element>

    <element name="ssa-yan" type="string"></element>

    <element name="ssa-cache" type="string"></element>
</schema>