trunk/ssa-memcached/src/main/resources/com/fost/ssacache/config/fost-ssa-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.5173.com/schema/ssa" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.5173.com/schema/ssa">
    <xsd:element name="ssa-spy" type="xsd:string"></xsd:element>
    <xsd:element name="ssa-yan" type="xsd:string"></xsd:element>
    <xsd:element name="ssa-cache" type="xsd:string"></xsd:element>
</xsd:schema>